/*公共样式*/
* {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: #444;
}

ul, ol, li {
    list-style: none;
}
img{
    border: 0;
}
body {
    background-color: #f3f3f3;
}

.container {
    width: 1000px;
    margin: 0 auto;
}

.title_bg {
    background: url("../images/title_bg.jpg");
    height: 45px;
    line-height: 45px;
    padding-left: 10px;
    margin-top: 20px;
}

.title_bg h2 a {
    color: #454344;
    font-size: 16px;
}

/*头部*/
div#logo {
    display: inline-block;
    vertical-align: top;
    width: 755px;
}

div#sousuo {
    display: inline-block;
    vertical-align: top;
    margin-top: 48px;
    text-align: right;
    width: 240px;
}

input[type="text"] {
    height: 40px;
    line-height: 40px;
    background: #f3f3f3;
    border: solid 1px #ccc;
    font-size: 20px;
    padding-left: 10px;
    width: 165px;
    vertical-align: top;
    display: inline-block;
}

input[type="submit"] {
    background-color: RGB(53, 152, 219);
    color: #ffffff;
    line-height: 40px;
    border: solid 1px RGB(53, 152, 219);
    font-size: 20px;
    padding: 0 10px;
    vertical-align: top;
    display: inline-block;
}

div#nav {
    background-color: RGB(53, 152, 219);
    height: 60px;
}

div#nav nav li {
    display: inline-block;
    line-height: 60px;
    padding: 0 10px;
    border-right: solid 1px #2F89C5;
    -webkit-transition: background 1s linear;
    -o-transition: background 1s linear;
    -moz-transition: background 1s linear;
    transition: background 1s linear;
}

div#nav nav li.on {
    background-color: #2F89C5;
}

div#nav nav li.on, div#nav nav li:hover {
    background-color: #2F89C5;
}

div#nav nav li a {
    color: #ffffff;
    font-size: 16px;
}

/*内容主题样式*/
#body_wrapper {
    margin-top: 20px;
}

div#body_wrapper article {
    width: 628px;
    display: inline-block;
    vertical-align: top;
    margin-right: 20px;
}

/*轮播样式*/
section#slide {
    box-shadow: 1px 4px 15px #A39F9F;
}

div.wrap a {
    color: #fff;
}

div#slide-holder {
    width: 628px;
    height: 278px;
}

div#slide-runner {
    width: 628px;
    height: 278px;
    overflow: hidden;
    position: absolute;
}

div#slide-holder img {
    margin: 0;
    display: none;
    position: absolute;
}

div#slide-controls {
    left: 0;
    bottom: 0;
    width: 628px;
    height: 46px;
    display: none;
    position: absolute;
}

div#slide-controls p.text {
    float: left;
    color: #fff;
    display: inline;
    font-size: 10px;
    line-height: 16px;
    margin: 15px 0 0 20px;
    text-transform: uppercase;
}

p#slide-nav {
    float: right;
    height: 24px;
    display: inline;
    margin: 11px 15px 0 0;
}

p#slide-nav a {
    float: left;
    width: 24px;
    height: 24px;
    display: inline;
    font-size: 11px;
    margin: 0 5px 0 0;
    line-height: 24px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    background-position: 0 0;
    background-repeat: no-repeat;
}

p#slide-nav a.on {
    background-position: 0 -24px;
}

p#slide-nav a {
    background-image: url(../images/silde-nav.png);
}

/*新闻部分 */
section#news li {
    display: inline-block;
    width: 100%;
    vertical-align: bottom;
    margin-top: 10px;
}

a.news_img img{
    display: inline-block;
    vertical-align: top;
    width: 314px;
    height: 165px;
}

a.news_desc {
    display: inline-block;
    vertical-align: top;
    width: 314px;
    height: 165px;
    position: relative;
    background-color: #3598DB;
    color: #fff;
    padding: 10px;
    -moz-box-sizing: border-box ;
    -webkit-box-sizing: border-box ;
    box-sizing: border-box;
}
a.news_desc h3{
    border-bottom: solid 1px #c7c3c4;
    margin-bottom: 5px;
    width: 288px;
    height: 30px;
    overflow: hidden;
}
a.news_desc p{
    text-indent: 30px;
    height: 108px;
    overflow: hidden;
}
.triangle{
    width: 20px;
    height: 20px;
    background-color: #3598DB;
    position: absolute;
    top: 25px;
    left: -10px;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
}

/*集团活动*/
section#ac_a img{
    margin-top: 10px;
    width: 150px;
    height: 150px;
}
section#ac_a li{
    display: inline-block;
    vertical-align: top;
    margin-right: 9px;
}
section#ac_a li:last-child{
    margin-right: 0;
}
section#ac_b{
    width: 469px;
    display: inline-block;
    vertical-align: top;
    margin-top: 10px;
    margin-right: 9px;
}
section#ac_b li:before{
    content: counter(listxh);
    background-color: #444;
    padding: 2px 5px;
    color: #fff;
    margin-right: 5px;
}
/*前三个为蓝色*/
section#ac_b li:first-child:before,section#ac_b li:nth-child(2):before,section#ac_b li:nth-child(3):before{
    background-color: #2F89C5;
}
/*处理10号大小太大*/
section#ac_b li:last-child:before{
    padding: 2px 1.5px;
    font-size: 14px;
}
/*序号*/
section#ac_b li{
    counter-increment:listxh;
    display: inline-block;
    width: 100%;
    vertical-align: bottom;
    overflow: hidden;
    /*不换行*/
    white-space: nowrap;
    -ms-text-overflow: ellipsis;
    text-overflow: ellipsis;
    margin-top: 16px;
    -webkit-transition: text-shadow 1s linear;
    -moz-transition: text-shadow 1s linear;
    -o-transition: text-shadow 1s linear;
    transition: text-shadow 1s linear;
}
section#ac_b li:hover{
    text-shadow: 1px 4px 5px #000;
}

section#ac_c{
    width: 150px;
    display: inline-block;
    vertical-align: top;
}
section#ac_c li{
    display: inline-block;
    margin-top: 10px;
}
section#ac_c li:first-child,section#ac_c li:first-child img{
    width: 150px;
    height: 205px;
}
section#ac_c li:last-child,section#ac_c li:last-child img{
    width: 150px;
    height: 154px;
}

/*博文样式*/
div#body_wrapper aside {
    width: 352px;
    display: inline-block;
    vertical-align: top;
}
section#blog_img li{
    display:inline-block;
    width:172px;
    height: 136px;
    margin-top: 10px;
    text-align: center;
}
section#blog_img a{
    color: #444;
    display: inline-block;
    width: 100%;
}
section#blog_img a img{
    display:inline-block;
    vertical-align: top;
    width:170px;
    height: 111px;

}
section#blog_img li:first-child{
    margin-right:8px ;
}
section#blog_img li a:first-child{
    width: 170px;
    height: 111px;
}
section#blog_img li a:last-child{
    height: 24px;
    overflow: hidden;
}
section#blog_li li:before{
    content: counter(listxh);
    background-color: #2F89C5;
    padding: 2px 5px;
    color: #fff;
    margin-right: 5px;
}
section#blog_li li{
    counter-increment:listxh;
    display: inline-block;
    width: 100%;
    vertical-align: bottom;
    overflow: hidden;
    /*不换行*/
    white-space: nowrap;
    -ms-text-overflow: ellipsis;
    text-overflow: ellipsis;
    margin-top: 8px;
    -webkit-transition: text-shadow 1s linear;
    -moz-transition: text-shadow 1s linear;
    -o-transition: text-shadow 1s linear;
    transition: text-shadow 1s linear;
}
section#blog_li li:hover{
    text-shadow: 1px 4px 5px #000;
}

/*招聘信息*/
section#jobs li:before{
    content: counter(listxh);
    background-color: #2F89C5;
    padding: 2px 5px;
    color: #fff;
    margin-right: 5px;
}

/*处理10号大小太大*/
section#jobs li:last-child:before{
    padding: 2px 1.5px;
    font-size: 14px;
}
/*序号*/
section#jobs li{
    counter-increment:listxh;
    display: inline-block;
    width: 100%;
    vertical-align: bottom;
    overflow: hidden;
    /*不换行*/
    white-space: nowrap;
    -ms-text-overflow: ellipsis;
    text-overflow: ellipsis;
    margin-top: 16px;
    -webkit-transition: text-shadow 1s linear;
    -moz-transition: text-shadow 1s linear;
    -o-transition: text-shadow 1s linear;
    transition: text-shadow 1s linear;
}
section#jobs li:hover{
    text-shadow: 1px 4px 5px #000;
}

/*联系我们*/
section#connects a,section#connects img{
    display: inline-block;
    width: 352px;
    height: 200px;
}

/*联盟成员*/
section#member li{
    display: inline-block;
    width: 100%;
    vertical-align: top;
    margin-top: 10px;
}
section#member li{
    -webkit-transition: padding 0.5s linear;
    -moz-transition: padding 0.5s linear;
    -o-transition: padding 0.5s linear;
    transition: padding 0.5s linear;
}
section#member li:hover{
    border: solid 1px #2F89C5 ;
    padding: 10px 0;
}

section#member li h4{
    font-size: 16px;
    height: 28px;
    line-height: 28px;
}
section#member .chid_desc a{
    display: inline-block;
    vertical-align: top;
}
section#member .chid_desc a:first-child{
    width: 170px;
    height: 50px;
}
section#member .chid_desc a:last-child{
    width: 175px;
    height: 50px;
    font-size: 12px;
    overflow: hidden;
}

/*底部链接*/
#footer_wrapper{
    background-color: #2F89C5;
    margin-top: 20px;
    padding: 20px 0;
}
#footer_wrapper li{
    display: inline-block;
    vertical-align: top;
    border-right: solid 1px white;
    padding-right: 18px;
    margin-left: 18px;
}
#footer_wrapper li:last-child{
    border:0;
}
#footer_wrapper footer{
    text-align: center;
}
#footer_wrapper a{
    color: #fff;
}
#footer_wrapper p{
    color: #fff;
    margin-top: 10px;
}